:root {

	/* default book data */

	--header-height: 7em;
	--lines-per-page: 42;

	--book-x: 54vh;
	--book-y: 12vh;
	--book-w: 91vh;
	--book-h: 63vh;
	--book-distance: 62vh;
	--book-tilt: 21;
	--book-rotate: 0.5;
	--book-padding: 3.5vh;
	--book-inner-width: calc(var(--book-w) - 2 * var(--book-padding));
	--book-inner-height: calc(var(--book-h) - 3 * var(--book-padding));

	--book-prev-x: -12.5vh;
	--book-prev-y: -7.7vh;
	--book-prev-size: 6.8vh;
	--book-next-x: -8.4vh;
	--book-next-y: -6.8vh;
	--book-next-size: 6.8vh;

	--page-width: calc(var(--book-inner-height) / 2 - var(--book-padding));
	--page-height: var(--book-inner-height);
}

body {

	/* set default book as background */

	filter: grayscale(0.5);
	background-image: url('images/book_1.jpg');

	width: var(--book-w);
	height: var(--book-h);
	perspective: var(--book-distance);

	margin-top: var(--book-y);
	margin-left: var(--book-x);
	margin-right: calc(100vh * 1920 / 922 - var(--book-x) - var(--book-w));
	margin-bottom: calc(100vh - var(--book-y) - var(--book-h));
	padding: calc(1.5 * var(--book-padding)) var(--book-padding);

	font-size: calc(var(--page-height) / var(--lines-per-page));
}

body > * {
  transform-style: preserve-3d;
	transform: rotate(calc(1deg * var(--book-rotate))) rotateX(calc(1deg * var(--book-tilt)));
}

body a.close {
	display: block;
	position: absolute;
	top: calc(-0.25 * var(--book-padding));
	right: var(--book-padding);
	font-family: 'Ada';
	font-size: 5vh;
	text-decoration: none;
}

header, footer, main {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	height: var(--header-height);
	top: calc(var(--book-tilt) / 10 * var(--book-padding));
	left: calc(var(--book-tilt) / 10 * var(--book-padding));
	width: var(--page-width);
}

main {
	overflow: hidden;
	column-count: 2;
	column-fill: auto;
	column-gap: calc(2 * var(--book-padding));
	height: var(--page-height);
}

main > section:first-child {
	margin-top: var(--header-height);
}

footer {
	position: absolute;
	overflow: visible;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
}

footer .page-number {
	display: block;
	position: absolute;
	bottom: calc(-1 * var(--book-padding) - 0.5em);
	width: var(--page-width);
	text-align: center;
}

footer .page-number:first-of-type {
	left: var(--book-padding);
}

footer .page-number:last-of-type {
	right: var(--book-padding);
}

footer a.next::after, footer a.prev::before {
	content: none;
}

footer a.next, footer a.prev {
	position: absolute;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.5s;
	transform: scale(0.5);
}

footer a.next:hover, footer a.prev:hover {
	transform: scale(1);
}

footer a.next {
	background-image: url('images/book_1_next.png');
	background-position: bottom right;
	transform-origin: bottom right;
	width: var(--book-next-size);
	height: var(--book-next-size);
	right: var(--book-next-x);
	bottom: var(--book-next-y);
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.1));
}

footer a.prev {
	background-image: url('images/book_1_prev.png');
	background-position: bottom left;
	transform-origin: bottom left;
	width: var(--book-prev-size);
	height: var(--book-prev-size);
	left: var(--book-prev-x);
	bottom: var(--book-prev-y);
	filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.1));
}


/*

@media only screen and (min-width: 1200px) {

	:root {
		--background-width: 1200px;
	}

  body {
		background-position: center 0.2vh;
		margin-top: calc(0.2vh + var(--background-height) * (var(--background-margin-top) / var(--background-original-height)));
		margin-left: calc(50vw - var(--background-width) / 2 + var(--background-width) * (var(--background-margin-left) / var(--background-original-width)));
  }
}
*/

header input, #example, #exercises {
	display: none;
}

header h1 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0.5em 0;
}

h2, h3, h4 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0;
	padding: 1em 0 0.5em;
}

section {
	position: relative;
	overflow: visible;
	break-inside: avoid;
	width: 100%;
}

section.pagebreak {
	break-before: column;
	break-after: column;
}

p {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

input, select, textarea {
	background-color: rgba(255,255,255,0.33);
}

em {
	font-family: 'Scene';
}

.note {
	display: block;
	position: absolute;
	color: #000;
	height: calc(0.8 * var(--page-width));
	width: calc(0.8 * var(--page-width));
	overflow: visible;
	padding: calc(0.08 * var(--page-width));
	filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.5));
	transform: rotate(-5deg);
}

.note * {
	filter: none;
}

.note::before {
	content: '';
	position: absolute;
	height: calc(0.15 * var(--page-width));
	width: calc(0.4 * var(--page-width));
	transform: rotate(7deg);
	top: calc(-0.075 * var(--page-width));
	left: calc(0.2 * var(--page-width));
	background-color: rgba(255,255,255,0.66);
}
