@font-face {
	font-family: 'Crimson';
	src: local('Crimson Text'), url('fonts/CrimsonText-Regular.ttf') format('truetype');
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: 'Ada';
	src: url('fonts/A Sensible Armadillo.ttf') format('truetype');
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: 'Scene';
	src: url('fonts/mulders-handwriting.ttf') format('truetype');
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: 'Crimson';
	src: local('Crimson Text'), url('fonts/CrimsonText-Bold.ttf') format('truetype');
	font-display: swap;
	font-weight: bold;
}


:root {
	--border-default-style: 1px #ddd solid;
	--small-gap: 0.25em;
	--large-gap: 0.5em;
	--monospace-font-size: 1em;
	--canvas-background-color: rgba(216,216,216,0.33);
}

* {
	box-sizing: border-box;
}

body {
	background-size: calc(100vh * 1920 / 922) 100vh;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 0;
	height: 100vh;
	width: calc(100vh * 1920 / 922);
	max-width: none;
	overflow-x: scroll;
	overflow-y: hidden;

	font-family: 'Crimson';
}
