@font-face {
	font-family: 'Crimson';
	src: local('Crimson Text'), url('fonts/CrimsonText-Regular.ttf') format('truetype');
	font-display: swap;
	font-weight: normal;
}

@font-face {
	font-family: 'Crimson';
	src: local('Crimson Text'), url('fonts/CrimsonText-Bold.ttf') format('truetype');
	font-display: swap;
	font-weight: bold;
}

:root {
	--border-default-style: 1px #ddd solid;
	--header-height: 6em;
	--small-gap: 0.1em;
	--large-gap: 0.2em;
	--monospace-font-size: 1em;
	--font-ratio: 0.02;
}

body {
	font-family: 'Crimson';
	max-width: none;
	overflow-x: hidden;

	/* set book as background */
	filter: sepia(0.5);
	background-color: #cdd5e1;
	background-image: url('images/book.png');

	background-position: 0 10vw;
	background-repeat: no-repeat;
	background-size: 100vw auto;
	width: 80vw;
	height: 66vw;
	margin: 10vw;
	padding: 5vw 4vw;
	font-size: calc(66vw * var(--font-ratio));
}

header {
	position: absolute;
	height: var(--header-height);

	left: 4vw;
	width: calc(40vw - 2 * 4vw);
}

main {
	overflow: hidden;
	column-count: 2;
	column-gap: 8vw;
	height: calc(66vw - 10vw);
}

@media only screen and (min-width: 1500px) {

  body {
		background-position: calc(50vw - 750px) 80px;
		background-repeat: no-repeat;
		background-size: 1500px auto;
		width: 1200px;
		height: 800px;
		margin: 80px auto;
		padding: 60px 48px;
		font-size: calc(1200px * var(--font-ratio));
  }

	header {
		left: 48px;
		width: calc(600px - 2 * 48px);
	}

	main {
		height: calc(800px - 120px);
	}
}

header h1 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0.5em 0;
}

header, footer, main {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

main > section:nth-child(1) {
	margin-top: var(--header-height);
}

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 1em;
	font-family: 'Crimson';
	font-weight: normal;
	font-variant: normal;
}

footer svg {
	display: none;
}

h2, h3, h4 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0;
	padding: 2em 0 1em;
}

section {
	break-inside: avoid;
	width: 100%;
}

#exercises,
#example,
header input {
	display: none;
}
