:root {

	/* default note data */

	--header-height: 3em;
	--lines-per-page: 20;

	--note-x: 80vh;
	--note-y: 15vh;
	--note-w: 40vh;
	--note-h: 58vh;
	--note-distance: 62vh;
	--note-tilt: 21;
	--note-rotate: 2.5;
	--note-padding: 3.5vh;
	--note-inner-width: calc(var(--note-w) - 2 * var(--note-padding));
	--note-inner-height: calc(var(--note-h) - 3 * var(--note-padding));

	--note-prev-x: -12.5vh;
	--note-prev-y: -7.7vh;
	--note-prev-size: 6.8vh;
	--note-next-x: -8vh;
	--note-next-y: -7.5vh;
	--note-next-size: 6.8vh;

	--page-width: calc(var(--note-inner-height) / 2 - var(--note-padding));
	--page-height: var(--note-inner-height);
}

body {

	/* set default note as background */

	filter: grayscale(0.5);
	background-image: url('images/note_1.jpg');

	width: var(--note-w);
	height: var(--note-h);
	perspective: var(--note-distance);

	margin-top: var(--note-y);
	margin-left: var(--note-x);
	margin-right: calc(100vh * 1920 / 922 - var(--note-x) - var(--note-w));
	margin-bottom: calc(100vh - var(--note-y) - var(--note-h));
	padding: calc(1.5 * var(--note-padding)) var(--note-padding);

	font-size: calc(var(--page-height) / var(--lines-per-page));
}

body > * {
  transform-style: preserve-3d;
	transform: rotate(calc(1deg * var(--note-rotate))) rotateX(calc(1deg * var(--note-tilt)));
}

body a.close {
	display: block;
	position: absolute;
	top: calc(-0.25 * var(--note-padding));
	right: var(--note-padding);
	font-family: 'Ada';
	font-size: 5vh;
	text-decoration: none;
	color: #666;
}

header, footer, main {
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	height: var(--header-height);
	top: calc(var(--note-tilt) / 10 * var(--note-padding));
	left: calc(var(--note-tilt) / 10 * var(--note-padding));
	width: var(--page-width);
}

main {
	overflow: hidden;
	height: var(--page-height);
}

main > section:first-child {
	margin-top: var(--header-height);
}

footer {
	position: absolute;
	overflow: visible;
	left: 0;
	right: 0;
	bottom: 0;
	height: 0;
}

footer .page-number {
	display: block;
	position: absolute;
	bottom: calc(-1 * var(--note-padding) - 0.5em);
	width: var(--page-width);
	text-align: center;
}

footer .page-number:first-of-type {
	left: var(--note-padding);
}

footer .page-number:last-of-type {
	right: var(--note-padding);
}

footer a.next::after, footer a.prev::before {
	content: none;
}

footer a.next, footer a.prev {
	position: absolute;
	padding: 0;
	margin: 0;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.5s;
	transform: scale(0.5);
}

footer a.next:hover, footer a.prev:hover {
	transform: scale(1);
}

footer a.next {
	background-image: url('images/note_1_next.png');
	background-position: bottom right;
	transform-origin: bottom right;
	width: var(--note-next-size);
	height: var(--note-next-size);
	right: var(--note-next-x);
	bottom: var(--note-next-y);
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.1));
}

footer a.prev {
	background-image: url('images/note_1_prev.png');
	background-position: bottom left;
	transform-origin: bottom left;
	width: var(--note-prev-size);
	height: var(--note-prev-size);
	left: var(--note-prev-x);
	bottom: var(--note-prev-y);
	filter: drop-shadow(-2px 2px 3px rgba(0,0,0,0.1));
}


/*

@media only screen and (min-width: 1200px) {

	:root {
		--background-width: 1200px;
	}

  body {
		background-position: center 0.2vh;
		margin-top: calc(0.2vh + var(--background-height) * (var(--background-margin-top) / var(--background-original-height)));
		margin-left: calc(50vw - var(--background-width) / 2 + var(--background-width) * (var(--background-margin-left) / var(--background-original-width)));
  }
}
*/

header input, #example, #exercises {
	display: none;
}

header h1 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0.5em 0;
}

h2, h3, h4 {
	font-family: 'Crimson';
	font-weight: bold;
	font-variant: normal;
	margin: 0;
	padding: 0.5em 0 0.25em;
}

section {
	position: relative;
	overflow: visible;
	break-inside: avoid;
	width: 100%;
}

section.pagebreak {
	break-before: column;
	break-after: column;
}

p {
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

input, select, textarea {
	background-color: rgba(255,255,255,0.33);
}

em {
	font-family: 'Scene';
}

.note {
	display: block;
	position: absolute;
	color: #000;
	height: calc(0.8 * var(--page-width));
	width: calc(0.8 * var(--page-width));
	overflow: visible;
	padding: calc(0.08 * var(--page-width));
	filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.5));
	transform: rotate(-5deg);
}

.note * {
	filter: none;
}

.note::before {
	content: '';
	position: absolute;
	height: calc(0.15 * var(--page-width));
	width: calc(0.4 * var(--page-width));
	transform: rotate(7deg);
	top: calc(-0.075 * var(--page-width));
	left: calc(0.2 * var(--page-width));
	background-color: rgba(255,255,255,0.66);
}

/* special styles of helping notes */

#huffman_kodierung main section:nth-child(4) {
	display: none;
}

#stellenwertsysteme main section:nth-child(2),
#ascii_code main section:nth-child(2),
#caesar_verschluesselung main section:nth-child(3),
#huffman_kodierung main section:nth-child(3) {
	break-before: column;
}

#caesar_verschluesselung textarea,
#caesar_verschluesselung #encoded,
#huffman_kodierung textarea {
	min-height: 8em;
}
